<h1>Sprache nach Benutzern</h1>
<p>Der folgenden Grafik kann entnommen werden, wer wieviel redet.</p>
<div class="row">
	<div class="col-md-12">
		<svg id="chart" height="400"></svg>
	</div>
</div>

<script src="/dist/stats/spokenperuser.js"></script>
