<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<title>Mumble Bot</title>

	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/fontawesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/typeahead-bootstrap/typeahead.css" rel="stylesheet">
	<link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/tablesorter/css/theme.bootstrap.min.css" rel="stylesheet">
	<link href="/dist/bundle.css" rel="stylesheet">
	<style>
		thead th, thead td {
			border: none;
		}
	</style>
	<script src="/dist/bundle.js"></script>
</head>
