<form>
	<h2 class="form-signin-heading">Login</h2>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
		<input type="email" class="form-control" placeholder="foo@bar.de" id="email">
	</div>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1"><i class="fa fa-lock"></i></span>
		<input type="password" class="form-control" placeholder="Password" id="password">
	</div>

	<button type="button" class="btn btn-primary btn-lg btn-block"><i class="fa fa-unlock"></i> Login</button>
</form>
