<form id="form-login" action="/api/users/login" method="get">
	<h2 class="form-signin-heading">Anmelden</h2>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
		<input
			type="text"
			class="form-control"
			placeholder="Benutzername"
			id="login-username"
			name="username" >
	</div>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1"><i class="fa fa-lock"></i></span>
		<input
			type="password"
			class="form-control"
			placeholder="Passwort"
			id="login-password"
			name="password" >
	</div>

	<button type="submit" id="login-submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-unlock"></i> Login</button>
</form>
<script>
	$('#login-submit').click(function(e) {
		e.preventDefault();
		var username = encodeURIComponent($('#login-username').val());
		var password = encodeURIComponent(CryptoJS.SHA256($('#login-password').val()));
		$.ajax("/api/users/login?username=" + username +
			"&password=" + password)
		.done(function(response) {
			if(response.okay) {
				window.location.reload();
			}
			else {
				if(response.reason === "internal_error") {
					spawnNotification('error', "Ein interner Fehler ist aufgetreten.");
				}
				else if(response.reason === "unknown_username_or_password") {
					spawnNotification('error', "Anmeldung nicht erfolgreich. Bitte nochmal versuchen.");
				}
				else if(response.reason === "insufficient_permission") {
					spawnNotification('error', "Anmeldung konnte nicht erfolgen, Account muss durch Admin freigeschaltet werden.");
				}
			}
		});
	});
</script>
