<form id="form-login" action="/api/users/login" method="get">
	<h2 class="form-signin-heading">Anmelden</h2>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
		<input
			type="text"
			class="form-control"
			placeholder="Benutzername"
			id="login-username"
			name="username" >
	</div>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1"><i class="fa fa-lock"></i></span>
		<input
			type="password"
			class="form-control"
			placeholder="Passwort"
			id="login-password"
			name="password" >
	</div>

	<button type="submit" id="login-submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-unlock"></i> Login</button>
</form>
<script type="text/html" id="alert-login-failed">
	<div class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Fehler!</strong> Anmeldung nicht erfolgreich. Bitte nochmal versuchen.
	</div>
</script>
<script type="text/html" id="alert-login-permission">
	<div class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Fehler!</strong> Anmeldung konnte nicht erfolgen, Account muss durch Admin freigeschaltet werden.
	</div>
</script>
<script type="text/html" id="alert-login-internal-error">
	<div class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Fehler!</strong> Ein interner Fehler ist aufgetreten.
	</div>
</script>
<script>
	$('#login-submit').click(function(e) {
		e.preventDefault();
		var username = encodeURIComponent($('#login-username').val());
		var password = encodeURIComponent(CryptoJS.SHA256($('#login-password').val()));
		$.ajax("/api/users/login?username=" + username +
			"&password=" + password)
		.done(function(response) {
			if(response.okay) {
				window.location.reload();
			}
			else {
				if(response.reason === "internal_error") {
					$($("#alert-login-internal-error").html()).appendTo("#alerts");
				}
				else if(response.reason === "unknown_username_or_password") {
					$($("#alert-login-failed").html()).appendTo("#alerts");
				}
				else if(response.reason === "insufficient_permission") {
					$($("#alert-login-permission").html()).appendTo("#alerts");
				}
			}
		});
	});
</script>
