<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid" style="margin: 0 10px 0 10px;">
		<div class="navbar-header fixed-brand">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Navigation toggeln</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav">
				{{#each pages}}
					<li><a href="{{this.url}}"><i class="fa fa-{{this.icon}}"></i> {{this.name}}</a></li>
				{{/each}}
			</ul>
		</div>
	</div>
</nav>
