<div id="alerts"></div>
<script type="text/html" id="notification-error-template">
	<div class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Fehler!</strong>
	</div>
</script>
<script type="text/html" id="notification-success-template">
	<div class="alert alert-success alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Erfolgreich!</strong>
	</div>
</script>
