<form id="form-register">
	<h2 class="form-signin-heading">Register</h2>

	<div class="form-group has-feedback">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
			<input
				data-minlength="3"
				name="username"
				maxlength="20"
				type="text"
				class="form-control"
				placeholder="Username"
				id="register-username"
				data-remote="/api/users/usernameAvailable"
				data-remote-error="Username has already been taken."
				required >
		</div>
		<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		<div class="help-block with-errors"></div>
	</div>

	<div class="form-group has-feedback">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
			<input
				type="email"
				name="email"
				class="form-control"
				placeholder="foo@bar.de"
				id="register-email"
				required >
		</div>
		<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		<div class="help-block with-errors"></div>
	</div>
	<div class="form-group has-feedback">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-lock"></i></span>
			<input
				data-minlength="6"
				name="password"
				type="password"
				class="form-control"
				placeholder="Password"
				id="register-password"
				required >
		</div>
		<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		<div class="help-block with-errors"></div>
	</div>
	<div class="form-group has-feedback">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-repeat"></i></span>
			<input
				data-match="#register-password"
				name="repeat"
				type="password"
				class="form-control"
				placeholder="Password"
				id="register-repeat"
				required >
		</div>
		<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		<div class="help-block with-errors"></div>
	</div>
	<div class="form-group has-feedback">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-steam"></i></span>
			<input
				type="text"
				class="form-control"
				name="steamusername"
				placeholder="Steam Username"
				data-minlength="3"
				data-remote="/api/users/steam64id"
				data-remote-error="This steam user does not exist."
				id="register-steam" >
		</div>
		<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		<div class="help-block with-errors"></div>
	</div>
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-cubes"></i></span>
			<input
				type="text"
				class="form-control"
				name="minecraft"
				placeholder="Minecraft Username"
				id="register-minecraft" >
		</div>
		<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		<div class="help-block with-errors"></div>
	</div>

	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-comment"></i></span>
			<select class="form-control" name="identifier" id="register-identifier" required>
			{{#each identifiers}}
				<option value="{{id}}">{{identifier}}</option>
			{{/each}}
			</select>
		</div>
		<div class="help-block with-errors"></div>
	</div>
	<button type="submit" class="btn btn-success btn-lg btn-block"><i class="fa fa-user-plus"></i> Register</button>
</form>
<script>
$('#form-register').validator({
	delay : 100
});
$('#form-register').validator('validate');
</script>
