<form id="form-register" action="/api/users/register" method="get">
	<h2 class="form-signin-heading">Registrieren</h2>

	<div class="form-group has-feedback">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
			<input
				data-minlength="3"
				name="username"
				maxlength="20"
				type="text"
				class="form-control"
				placeholder="Benutzername"
				id="register-username"
				data-remote="/api/users/usernameAvailable"
				data-remote-error="Benutzername bereits vergeben."
				required >
		</div>
		<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		<div class="help-block with-errors"></div>
	</div>

	<div class="form-group has-feedback">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
			<input
				type="email"
				name="email"
				class="form-control"
				placeholder="foo@bar.de"
				id="register-email"
				required >
		</div>
		<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		<div class="help-block with-errors"></div>
	</div>
	<div class="form-group has-feedback">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-lock"></i></span>
			<input
				data-minlength="6"
				name="password"
				type="password"
				class="form-control"
				placeholder="Passwort"
				id="register-password"
				required >
		</div>
		<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		<div class="help-block with-errors"></div>
	</div>
	<div class="form-group has-feedback">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-repeat"></i></span>
			<input
				data-match="#register-password"
				name="repeat"
				type="password"
				class="form-control"
				placeholder="Passwort"
				id="register-repeat"
				required >
		</div>
		<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		<div class="help-block with-errors"></div>
	</div>
	<div class="form-group has-feedback">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-steam"></i></span>
			<input
				type="text"
				class="form-control"
				name="steamusername"
				placeholder="Steam Benutzername (Optional)"
				data-minlength="3"
				data-remote="/api/users/steam64id"
				data-remote-error="Dieser Steambenutzer existiert nicht."
				id="register-steamid" >
		</div>
		<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		<div class="help-block with-errors"></div>
	</div>
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-cubes"></i></span>
			<input
				type="text"
				class="form-control"
				name="minecraft"
				placeholder="Minecraft Benutzername (Optional)"
				id="register-minecraft" >
		</div>
		<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		<div class="help-block with-errors"></div>
	</div>
	<button type="submit" id="register-submit" class="btn btn-success btn-lg btn-block"><i class="fa fa-user-plus"></i> Register</button>
</form>
<script src="/dist/partials/register.js"></script>
