<h3>Aktionen</h3>
<ul class="nav sidebar-nav nav-pills nav-stacked">
	<li>
		<a id="widgetstoggle"><span class="fa-stack fa-lg pull-left"><i class="fa fa-bars fa-stack-1x"></i></span> Toggle</a>
	</li>
	{{#if userPermissions.be-quiet}}
	<li>
		<a id="quiet-nav-btn"><span class="fa-stack fa-lg pull-left"><i class="fa fa-bell-slash"></i></span> Stumm</a>
	</li>
	{{/if}}
	<li>
		<a href="/users/profile/{{session.user.username}}"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user"></i></span> {{session.user.username}}</a>
	</li>
	<li>
		<a href="/users/settings"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cogs"></i></span> Einstellungen</a>
	</li>
	<li>
		<a id="nav-sign-out" href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-sign-out"></i></span> Abmelden</a>
	</li>
</ul>
<h3>Queue</h3>
