<ul class="nav sidebar-nav nav-pills nav-stacked" id="menu">
	<li>
		<a id="menutoggle"><span class="fa-stack fa-lg pull-left"><i class="fa fa-bars fa-stack-1x "></i></span>Toggle</a>
	</li>
	{{#each subpages}}
		<li>
			<a href="{{this.url}}"><span class="fa-stack fa-lg pull-left"><i class="fa fa-{{this.icon}} fa-stack-1x "></i></span>{{this.name}}</a>
		</li>
	{{/each}}
</ul>
