<!DOCTYPE html>
<html>
{{> head}}
<body>
	<link href="/style/sidebar.css" rel="stylesheet">
	<script src="/js/sidebar.js"></script>
	{{> navigation}}
	{{> notification}}
	<div id="wrapper">
		<div id="sidebar-wrapper">
			{{> subnavigation}}
		</div>
		<div id="page-content-wrapper">
			<div class="container-fluid">
				{{{body}}}
			</div>
		</div>
	</div>
</body>
</html>
