<!DOCTYPE html>
<html>
{{> head}}
<body>
	{{> navigation}}
	<div id="wrapper">
		<div id="sidebar-wrapper">
			{{> subnavigation}}
		</div>
		<div id="widgets-wrapper">
			{{> sidebar}}
		</div>
		<div id="page-content-wrapper">
			<div class="container-fluid">
				{{{body}}}
			</div>
		</div>
		<script src="/dist/index.js"></script>
	</div>
</body>
</html>
