#fork-canvas {
	height: 200px;
	width: 100%;
	padding: 0;
	margin: 0;
	position: abolute;
	margin-top: 40px;
	z-index: 10;
}

#timeline-canvas {
	height: 240px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.fork-box {
	padding: 0;
	border: 1px solid #aaa;
	position: relative;
	height: 240px;
	margin-top: 40px;
	.slider {
		position: absolute;
		margin-top: -25px;
		margin-left: -9px;
		height: 265px;
		width: 20px;
		.head {
			border-bottom: 1px solid black;
			text-align: center;
			height: 15px;
			font-size: 12px;
		}
		.leg {
			margin-left: 9px;
			width: 0px;
			border: 1px solid black;
			height: 248px;
		}
	}
	.slider-indicator {
		.leg {
			margin-top: 65px;
			height: 198px;
			border-color: red;
		}
	}
}
