#loading {
	width: 100%;
	display: block;
	text-align: center;
	div.icon {
		font-size: 100px;
	}
	div.description {
		font-size : 20px;
	}
}

#records, #cached {
	display : none;
	table {
		tr {
			td {
				vertical-align : middle;
			}
		}
	}
}

.visualization {
	width: auto;
	display: none;
	overflow: hidden;
	height: 32px;
	background-repeat: no-repeat;
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	background-color: #DDD;
}

@media(min-width: 1024px) {
	.visualization {
		display: block;
	}
}
