.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    a {
        color: inherit;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    > * {
        display: inline-block;
        white-space: nowrap;
        padding-right: 10px;
    }
}

.tagGroup  {
    min-height: 32px;
}

.buttonContainer {
    display: flex;
    justify-content: flex-start;
}

.button {
    white-space: nowrap;
}
