.flexContainer {
    display: flex;
    flex-direction: row;

    a {
        color: inherit;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    > * {
        display: block;
    }
}

.avatar {
    margin-right: 5px;
    transform: scale(0.7, 0.7);
}

.tagGroup  {
    min-height: 32px;
}

.buttonContainer {
    display: flex;
    justify-content: flex-start;
}

.button {
    white-space: nowrap;
}
