<h1>Channels</h1>
<p>Here is a list of all channels on the server including all users.</p>
<ul id="tree">

</ul>
<script>

function displayChannel(elem, channel) {
	var el = $("<li><b>Channel: " + channel.name + "</b></li>");
	if(channel.users.length > 0) {
		var users = $("<ul></ul>").appendTo($("<p>Users:</p>").appendTo(el));
		for(var i in channel.users) {
			var user = channel.users[i];
			users.append("<li>" + user + "</li>");
		}
	}
	if(channel.children.length > 0) {
		var children = $("<ul></ul>").appendTo($("<p>Subchannels:</p>").appendTo(el));
		for(var i in channel.children) {
			var child = channel.children[i];
			displayChannel(children, child);
		}
	}
	el.appendTo(elem);
}

$.getJSON("/api/tree", function(data) {
	displayChannel($("#tree"), data);
});
</script>
