<h1>Queue</h1>
<p>Hier kann gesehen werden, was in der Queue liegt und als nächstes abgespielt, gesprochen oder wiedergegeben wird.</p>
<ul class="list-group">
	{{#each queue}}
	<li class="list-group-item">
		{{#isSpeech this}}
		<i class="fa fa-pencil"></i> "{{text}}"
		{{/isSpeech}}
		{{#isSound this}}
		<i class="fa fa-music"></i> {{file}}
		{{/isSound}}
	</li>
	{{/each}}
</ul>
