<h1>Sprich!</h1>
<p>Hier kann Besitz von dem Bot ergriffen und durch seinen Mund gesprochen werden.</p>
<h2>Sprechen</h2>
<p>Die maximale L채nge des textes betr채gt 100 Zeichen. F체r L채ngere Texte kann die Zitat-Datenbank verwendet werden.</p>
<form id="form">
	<div class="input-group">
		<span class="input-group-addon" id="sizing-addon2"><i class="fa fa-comment"></i></span>
		<input type="text" class="form-control typeahead" placeholder="Schlampe" id="input">
		<span class="input-group-btn">
			<input class="btn btn-default" type="submit" value="Sprich">
		</span>
	</div>
</form>
<h2>Top 10</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Text</th>
			<th>Verwendet</th>
		</tr>
	</thead>
	<tbody id="table">
	</tbody>
</table>

<script src="/dist/speak.js"></script>
