<h1>Effekte</h1>
<p>Hier können die zahlreichen "Effekte" für den Dubstepgenerator dieses Bots verwaltet werden.</p>
<h2>Effekte Hinzufügen</h2>
<p>Hier können neue "Effekte" hinzugefügt werden:</p>
<form class="form-horizontal">
	<div class="form-group">
		<label for="url" class="col-sm-2 control-label">Effekt</label>
		<div class="col-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Wobbel Wobbel" id="effect">
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-default" type="button" id="submit">Speichern</button>
		</div>
	</div>
</form>
<h2>Effekte</h2>
<p>Aktuell sind folgende "Effekte" bekannt:</p>
<ul class="list-group" id="effect-list">

</ul>
<script src="/dist/bass/effects.js"></script>
