<h1>Aufnahmen nach Tagen</h1>
<p>Die folgende Grafik stellt die Menge an neu hinzugefügten Aufnahmen im Zeitlichen Verlauf seit erstem Start des Bots dar.</p>
<div class="row">
	<div class="col-md-12">
		<svg id="perTimeChart" height="400"></svg>
	</div>
</div>

<script src="/dist/stats/recordspertime/index.js"></script>
