<h1>Aufnahme Forken</h1>
<p>Hier können Aufnahmen modifiziert und als neue Aufnahmen gespeichert werden.</p>
<div class="fork-box">
	<div class="slider slider-begin">
		<div class="head">0.0s</div>
		<div class="leg"></div>
	</div>
	<div class="slider slider-end">
		<div class="head">0.0s</div>
		<div class="leg"></div>
	</div>
	<canvas id="timeline-canvas"></canvas>
	<canvas id="fork-canvas"></canvas>
</div>
<button class="btn btn-default btn-block disabled" id="play"><i class="fa fa-volume-up"></i> Play</button>
<script src="/dist/record/fork.js"></script>
