<h1>Playlist</h1>
<p>Es folgt die aktuelle Playlist des Bots. Es können <a href="?action=songs">hier</a> Songs zur Playlist hinzugefügt werden.</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Song</th>
		</tr>
	</thead>
	<tbody id="playlist">
	</tbody>
</table>
<script src="/dist/music/playlist.js"></script>
