<h1>Songs</h1>
<p>This is a list of all songs the music bot currently knows.</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Song</th>
		</tr>
	</thead>
	<tbody id="songs">

	</tbody>
</table>
<script>

$.getJSON("/api/music/songs", function(songs) {
	songs.sort();
	for(var i in songs) {
		(function(song) {
			var add = $('<a class="btn btn-xs btn-success">Add</a>').click(function() {
				$.getJSON("/api/music/add?artist=" + song.artist + "&title=" + song.title, function() {
					//reloadSongs();
				});
			});
			var line = $("<tr></tr>").append("<td>" + song.artist + " - " + song.title + "<td>");
			line.append($('<td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>'));
			line.append($("<td></td>").append(add));
			$("#songs").append(line);
		})(songs[i]);
	}
});

</script>
