<h1>Songs</h1>
<p>Dies ist eine Liste aller Songs, über die der Bot derzeit verfügt.</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Song</th>
		</tr>
	</thead>
	<tbody id="songs">

	</tbody>
</table>
<script src="/dist/music/songs.js"></script>
