<h1>Status</h1>

<table class="table table-striped">
	<tbody id="infotable">
	</tbody>
</table>

<div class="lead" id="title"></div>
<div class="progress">
	<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" id="progressbar"></div>
</div>
<div id="time_elapsed"></div>
<div id="time_total"></div>

<a class="btn btn-ld btn-default" id="play"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play</a>
<a class="btn btn-ld btn-default" id="pause"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span> Pause</a>
<a class="btn btn-ld btn-default" id="next"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span> Next</a>

<script src="/dist/music/status.js"></script>
