<link href="/style/filewrapper.css" rel="stylesheet">
<h1>Upload</h1>
<p>Hier können neue Songs hochgeladen werden.</p>

<form action="upload.php" method="post" enctype="multipart/form-data">
	<h1>Datei auswählen</h1>
	<div class="fileWrapper">
		<span>Dateien hierhin ziehen</span><br />
		<span style="font-size: 12pt;">(Oder klicken und auswählen)</span>
		<input type="file" name="upload[]" multiple="multiple"/>
	</div>
</form>
<div id="progress_wrapper">
	<h2>Dateien</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Dateiname</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody id="filelist">
		</tbody>
	</table>
	<h2>Fortschritt</h2>
	<div id="progressbar_wrapper">
	</div>
</div>
<script src="/dist/music/upload.js"></script>
