<h1>Sprache nach Uhrzeit</h1>
<p>Die folgende Grafik stellt dar, wann wie viel geredet wird.</p>
<div class="row">
	<div class="col-md-12">
		<svg id="chart" height="700"></svg>
	</div>
</div>

<script src="/dist/stats/spokenperhour/index.js"></script>
