<h1>Wiedergaben je Benutzer</h1>
<p>Im Folgenden wird dargestellt, wessen Aufnahmen am meisten wiedergegeben werden.</p>
<div class="row">
	<div class="col-md-12">
		<svg id="chart" height="400"></svg>
	</div>
</div>

<script src="/dist/stats/recordplaybacksperuser/index.js"></script>
