-----BEGIN CERTIFICATE-----
MIIDBjCCAe4CCQD9x0FR91jiXTANBgkqhkiG9w0BAQsFADBFMQswCQYDVQQGEwJB
VTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0
cyBQdHkgTHRkMB4XDTE1MDUwMzExMTEwMFoXDTE1MDYwMjExMTEwMFowRTELMAkG
A1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGEludGVybmV0
IFdpZGdpdHMgUHR5IEx0ZDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
AKJXZY8sXQ9Q+WzUIOFYFrkUEG2e+iKuEECXV2tjE0OGPt7OJ3DR+tBvYVaZMaO0
6VL3UKK+BoPTN4JOYmoNczF+aWq+POqQhWAcCqdkxvcXFpLER5FFdG3V7XNpPu37
C6V8JDyUIbb2/mNBp2rd17hPORaSbjPQyxT1II7kLFEp+GjKYS3VqALGMiqK1tFF
+X0VdLnYxFMn8Y3Lfvto///LfMDilIf2I0+42q1aMeaVrge2OlLovRyMrBhoWtRN
t9XZ7IOaXnwQ7rBmlr1wqZJidFW/LNsNgTf12IUGqv5cYnRmBdNN8RjE6Ao4FiBR
RxrkH5UVwiGWA61cY0955bcCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAM8Ja3ckH
FqZAI7JEbZwPv7BjuCrQQZgwFTBnHbMbTWSBGMAZjttXoU4U0xJoHAlcumqLlbGH
2I3vlh54eO0WrV44/GsbUcAdTDhL5xwyVHRSmoMRY+5JDMdfPf4gN2fZubutfbZY
J4NJz1+K+/gocetB5UJbqqbgUdVWSTzTo07KclzTks887mgt8cfFDSApfKpi8fGG
1RtWXtxT6U2BkLTAdJgHhkz4y3MKwxGvLri8BSBUQtltYC3//a3BlRrhnDr6/ub1
QtxwkC5/1jHvXxJ4xpQbthsqlDhw3ARLzjwbVM/XlJvplzd7knvbxrX+m0w/olu2
RqdyJwNrl/BwpA==
-----END CERTIFICATE-----
