url: 92k.de
name: Jenny
keyFile: "./bot.key"
certFile: "./bot.cert"
channel: "Lukas Schlafzimmer"
audioCacheAmount: 150
port: 23278
dbName: jenny
dbPassword: {{ database_password }}
tmpDir: data/tmp
soundsDir: data/sounds
language: german
