[Unit]
Description=Mumble Bot Worker
After=network.target

[Service]
TimeoutStartSec=5
WorkingDirectory=/home/prior/applications/mumble-bot/
ExecStart=/home/prior/applications/mumble-bot/node-v{{ node_version }}-linux-x64/bin/node server worker --config-file config.yml
TimeoutStopSec=10
Restart=always
RestartSec=5

[Install]
WantedBy=multi.target
