<h1>Zitate</h1>
<p>Derzeit befinden sich <b>{{quoteAmount}}</b> Zitate in der Datenbank.</p>
<h2>Zitat Eintragen</h2>
<p>Bitte das Zitat und den Autor hier eintragen:</p>
<form class="form-horizontal">
	<div class="form-group">
		<label for="url" class="col-sm-2 control-label">Quote</label>
		<div class="col-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Hier Zitat eintragen." id="quote">
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="format" class="col-sm-2 control-label">Author</label>
		<div class="col-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" value="Merlin" id="author">
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-default" type="button" id="submit">Submit</button>
			</div>
	</div>
</form>
<h2>Ergebnis</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Zitat</th>
			<th>Autor</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody id="results">
	</tbody>
</table>
<script src="/dist/quotes/add.js"></script>
