<h1>Statistiken</h1>
<p>In den folgenden Untermenüs kann der Friedhof der Datenkrakenfunktionalität des Bots ausgewertet werden.</p>
<p>Es wird bei Beginn und Ende jeder Sprachaktivität (Wenn gesprochen wird) dier Zeitpunkt aufgezeichnet.</p>
<p>Da der Bot nur diejenigen Aufnehmen kann, die er hören kann, fließen also nur Aktivitäten ein, wenn in dem selben Channel, in dem sich der Bot befindet oder einem verlinkten Channel gesprochen wird.</p>

<script src="/dist/stats/index.js"></script>
