<h2>Übersicht nach Nutzern</h2>
<div class="row">
	<div class="col-md-6">
		<svg id="perUserBarChart" height="400"></svg>
	</div>
	<div class="col-md-6">
		<svg id="perUserPieChart" height="400"></svg>
	</div>
</div>

<h2>Übersicht nach Tagen</h2>
<div class="row">
	<div class="col-md-12">
		<svg id="perTimeChart" height="400"></svg>
	</div>
</div>

<script src="/dist/stats/index.js"></script>
