<div class="jumbotron vertical-center">
<div class="container" >
	<div class="form-signin">
		{{> notification}}
		<ul class="nav nav-tabs" id="tabscontainer">
			<li class="active"><a href="#login" data-toggle="tab" aria-controls="login" role="tab">Anmelden</a></li>
			<li><a href="#register" data-toggle="tab" aria-controls="register" role="tab">Registrieren</a></li>
		</ul>
		<div id="registerLoginTab" class="tab-content">
			<div class="tab-pane active in" id="login">
				{{> loginform}}
			</div>
			<div class="tab-pane fade" id="register">
				{{> registerform}}
			</div>
		</div>
	</div>
</div>
<script src="/dist/users/registerlogin.js"></script>
