<link href="/style/filewrapper.css" rel="stylesheet">
<h1>Upload Sound</h1>
<p>Hier können neue Sounds hochgeladen werden.</p>

<form action="upload.php" method="post" enctype="multipart/form-data">
	<h1>Datei auswählen</h1>
	<div class="fileWrapper">
		<span>Dateien hierhin ziehen</span><br />
		<span style="font-size: 12pt;">(Oder klicken und auswählen)</span>
		<input type="file" name="upload" multiple="multiple"/>
	</div>
</form>

<div id="progressbar_wrapper">
	<h3>Fortschritt</h3>
	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
	</div>
</div>
<script src="/dist/sounds/upload.js"></script>
