<h1>Übersicht nach Nutzern</h1>
<p>Den folgenden Grafiken kann die Menge an Aufnahmen in Abhängigkeit der Benutzer entnommen werden.</p>
<div class="row">
	<div class="col-md-12">
		<h2>Absolute Darstellung</h2>
		<svg id="perUserBarChart" height="400"></svg>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2>Relative Darstellung</h2>
		<svg id="perUserPieChart" height="400"></svg>
	</div>
</div>

<script src="/dist/stats/recordsperuser/index.js"></script>
