.wrapper {
    margin-bottom: 15px;

    .timeline {
        position: relative;
        height: 20px;
        overflow: hidden;
        margin-top: 3px !important;
    }

    .name {
        font-weight: bold;
    }
}
