<h1>Onlinezeit je Benutzer</h1>
<p>Die folgende Grafik stellt dar, welcher Benutzer wie lange im Server online ist.</p>
<div class="row">
	<div class="col-md-12">
		<svg id="chart" height="400"></svg>
	</div>
</div>

<script src="/dist/stats/onlineperuser.js"></script>
